{% extends "home.html.twig" %}

{% block SLIDER %}
    <section id="aa-catg-head-banner" >
        <img src="img/banner/4.png" alt="laptop img" style="max-height: 250px">
        <div class="aa-catg-head-banner-area">
            <div class="container">
                <div class="aa-catg-head-banner-content">
                    <h2>LAPTOPS</h2>
                    <ol class="breadcrumb">
                        <li><a href="home.php">Home</a></li>
                        <li class="active">Checkout</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block PROMO %}

{% endblock %}

{% block PRODUCTS %}
    <!-- Cart view section -->
    <section id="aa-myaccount">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-myaccount-area">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="aa-myaccount-login">
                                    <h4>Order Confirmed</h4>
                                    <form action="" class="aa-login-form">
                                        <label for="">An order confirmation has been sent to your email address. </label>
                                        <label for="">Password<span>*</span></label>
                                        <div class="col-md-6">
                                            <a href="unset_variables.php" class="aa-browse-btn">Continue Shopping</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="receipt_gen.php" class="aa-browse-btn">Print Receipt</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block SUPPORT %}

{% endblock %}

{% block TESTIMONIAL %}

{% endblock %}

{% block BLOG %}
{% endblock %}

{% block CLIENTBRAND %}
{% endblock %}