{% extends "home.html.twig" %}

{% block SLIDER %}

{% endblock %}

{% block PROMO %}

{% endblock %}

{% block PRODUCTS %}
    <section id="checkout">
        <div class="container">
            <div class="row container">
                <div class="col-md-12 container" >
                    <h1>bestNotebooks: Terms of Service</h1>
                    <p>
                        At bestNotebooks our mission is to empower every person on the planet to learn how to do anything. We do this by collaborating to create the world’s most helpful instructions. Before you read our detailed, legally binding Terms of Use, here is a non-legalese summary of some key information about reading or contributing to bestNotebooks:
                        You continue to own the copyrights of the content you submit to bestNotebooks. That said, by posting your content on bestNotebooks you give us multiple rights to use and change it (see “User Content License Grants” below for details).
                        Our editor community (as opposed to the lawyers who wrote the terms of service below) have developed many policies about what we want and don’t want on bestNotebooks. You can read details about the writing we do want at our Writer's Guide and what we don’t want at our Deletion Policy .
                        We license all User Content text on bestNotebooks under a Creative Commons license. Read more here. If you want to republish bestNotebooks content under the terms of this license please follow our attribution guidelines.
                        We release most of our software under an Open Source license. You can learn more and get a copy of the code here.
                        Our goal is to build the world’s most helpful how-to instructions, but we don’t always meet that goal. Occasionally our articles are incomplete, unhelpful, misleading or incorrect, and we cannot guarantee the accuracy of anything you find on bestNotebooks. You should use your best judgment and consult multiple sources when following any instructions you read
                    </p>
                    <br>
                    <br>
                    <h3>Introduction</h3>
                    <p>
                        Welcome to bestNotebooks, the website, mobile and online service of bestNotebooks, Inc. (“bestNotebooks,” “we,” or “us”). This page explains the terms by which you may use our online and/or mobile services, web site, and software provided on or in connection with the service (collectively the “Service”). By accessing or using the Service, you signify that you have read, understood, and agree to be bound by this Terms of Use Agreement (“Agreement”) and to the collection and use of your information as set forth in the bestNotebooks Privacy Policy , whether or not you are a registered user of our Service. This Agreement applies to all visitors, users, and others who access the Service (“Users”).


                        PLEASE READ THIS AGREEMENT CAREFULLY TO ENSURE THAT YOU UNDERSTAND EACH PROVISION. THIS AGREEMENT CONTAINS A MANDATORY ARBITRATION OF DISPUTES PROVISION THAT REQUIRES THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES, RATHER THAN JURY TRIALS OR CLASS ACTIONS.

                    </p>
                    <br>
                    <br>
                    <h3>Use of Service</h3>
                    <p>
                        bestNotebooks provides a place for users to learn how to do things and to share how-to knowledge with others. Our goal is to create the world’s most helpful instructions, thus empowering every person on the planet to learn how to do anything. We appreciate your valuable contributions to the Service.

                        A. Eligibility

                        You may use the Service only if you can form a binding contract with bestNotebooks, and only in compliance with this Agreement and all applicable local, state, national, and international laws, rules and regulations. The Service is not available to any Users previously removed from the Service by bestNotebooks. Any use of the Service by anyone under 13 is strictly prohibited and in violation of this Agreement. Notwithstanding the foregoing, a child under the age of 13 may use the site if we receive a signed permission form from the child’s parent or legal guardian. The permission form can be found here http://www.bestNotebooks.com/bestNotebooks:COPPA-Parental-Permission-Form .

                        B. bestNotebooks Service.

                        Subject to the terms and conditions of this Agreement, you are hereby granted a non-exclusive, limited, non-transferable, freely revocable license to use the Service as permitted by the features of the Service. bestNotebooks may terminate this license at any time for any reason or no reason. Subject to the terms and conditions hereof, bestNotebooks further grants to each User of the Service, a license to use any or all text contained in any article found on the Service in accordance with the terms of the Creative Commons CC BY-NC-SA 3.0 License. Under this license, you may freely use, copy, and distribute such text for non-commercial purposes so long as you follow our attribution requirements at http://www.bestNotebooks.com/bestNotebooks:Attribution. Please carefully read the full terms and conditions here . http://creativecommons.org/licenses/by-nc-sa/3.0/. bestNotebooks reserves all rights not expressly granted herein in the Service and the bestNotebooks Content (as defined below).

                        C. bestNotebooks Accounts

                        Your bestNotebooks account gives you access to the services and functionality that we may establish and maintain from time to time and in our sole discretion. If you open a bestNotebooks account on behalf of a company, organization, or other entity, then (a) “you” includes you and that entity, and (b) you represent and warrant that you are an authorized representative of the entity with the authority to bind the entity to this Agreement, and that you agree to this Agreement on the entity’s behalf. By connecting to bestNotebooks with a third-party service, you give us permission to access and use your information from that service as permitted by that service, and to store your log-in credentials for that service.

                        You may never use another User’s account without permission. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. You must notify bestNotebooks immediately of any breach of security or unauthorized use of your account. bestNotebooks will not be liable for any losses caused by any unauthorized use of your account.

                        You may control your User profile and how you interact with the Service by changing the settings in your Preferences . By providing bestNotebooks your email address you consent to our using the email address to send you Service-related notices, including any notices required by law, in lieu of communication by postal mail. We may also use your email address to send you other messages, such as changes to features of the Service and special offers. If you do not want to receive such email messages, you may opt out or change your preferences in your http://www.bestNotebooks.com/Special:Preferences . Opting out may prevent you from receiving email messages regarding updates, improvements, or offers.

                        D. Service Rules

                        You agree not to engage in any of the following prohibited activities: (i) transmitting spam, chain letters, or other unsolicited email; (ii) attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Service; (iii) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure; (iv) uploading invalid data, viruses, worms, or other software agents through the Service; (v) collecting or harvesting any personally identifiable information, including account names, from the Service; (vii) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud; (viii) interfering with the proper working of the Service; (ix) accessing any content on the Service through any technology or means other than those provided or authorized by the Service; or (x) bypassing the measures we may use to prevent or restrict access to the Service, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein.

                        If you operate a search engine or robot, or if you republish a significant fraction of all bestNotebooks Content (as we may determine in our reasonable discretion), you must follow these rules:
                        You must use a descriptive user agent header;
                        You must provide prominent attribution to bestNotebooks;
                        You must follow robots.txt at all times; and
                        You must make it clear how to contact you, either in your user agent string, or on your website if you have one.
                        We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to users generally; or create usage limits for the Service. We may permanently or temporarily terminate or suspend your access to the Service without notice and liability for any reason, including if in our sole determination you violate any provision of this Agreement, or for no reason. Upon termination for any reason or no reason, you continue to be bound by this Agreement.

                        You are solely responsible for your interactions with other bestNotebooks Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. bestNotebooks shall have no liability for your interactions with other Users, or for any User’s action or inaction.
                    </p>
                    <br><br>
                    <h3>Trusted Users</h3>
                    <p>
                        bestNotebooks may provide certain Users with administrative privileges in order to monitor or provide certain aspects of the Service (“Trusted Users”). These privileges may include, without limitation, the ability to remove User Content provided by other Users or monitor other Users’ use of the Service. For the avoidance of doubt, bestNotebooks Trusted Users include, but are not limited to, “Admins” (aka SysOps or Administrators) and “New Article Boosters.” You acknowledge that bestNotebooks may revoke your status as a Trusted User at any time for any reason or no reason, and may require you to enter into further agreements with bestNotebooks depending on your role.

                        If you are a Trusted User, you acknowledge that you may have access to the personal information of other Users, and you represent and warrant that you will handle that information in accordance with the bestNotebooks Privacy Policy and the confidentiality obligations contained herein. You further acknowledge that you may have access to bestNotebooks Confidential Information (as defined below), and you represent and warrant, at all times you are serving as a Trusted User and thereafter, to hold in strictest confidence, and not to use, except for the benefit of bestNotebooks to the extent necessary to perform authorized services on behalf of bestNotebooks, and not to disclose to any person, firm, corporation or other entity, without written authorization from bestNotebooks in each instance, any bestNotebooks Confidential Information that you obtain from bestNotebooks or otherwise obtain, access or create in connection with, or as a result of, your relationship with bestNotebooks or your performance of any services as a Trusted User, until such bestNotebooks Confidential Information becomes publicly and widely known and made generally available through no wrongful act of you or of others who were under confidentiality obligations as to the item or items involved. You further agree not to make copies of such bestNotebooks Confidential Information, except as expressly authorized by bestNotebooks and to return to bestNotebooks or delete any copies or materials containing bestNotebooks Confidential Information upon bestNotebooks’s request.

                        You understand that “bestNotebooks Confidential Information” means information and physical material not generally known or available outside bestNotebooks and information and physical material entrusted to bestNotebooks in confidence by third parties. bestNotebooks Confidential Information includes, without limitation: technical data, analytic data, User Internet Protocol (IP) addresses, any personal information relating to Users, software codes and designs, algorithms, non-public business information, and any other non-public information to which you gain access while serving as a Trusted User.
                    </p>
                    <br><br>
                    <h3>bestNotebooks Property</h3>
                    <p>
                        Certain aspects of the Service may allow you to obtain certain reputational or status indicators (“bestNotebooks Property”). You understand and agree that regardless of terminology used, bestNotebooks Property represents a limited license right governed solely by the terms of this Agreement and available for distribution at bestNotebooks’s sole discretion. bestNotebooks Property is not redeemable for any sum of money or monetary value from bestNotebooks at any time. You acknowledge that you do not own the account you use to access the Service, nor do you possess any rights of access or rights to data stored by or on behalf of bestNotebooks on bestNotebooks servers, including without limitation any data representing or embodying any or all of your bestNotebooks Property. You agree that bestNotebooks has the absolute right to manage, regulate, control, modify and/or eliminate bestNotebooks Property as it sees fit in its sole discretion, in any general or specific case, and that bestNotebooks will have no liability to you based on its exercise of such right. All data on bestNotebooks’s servers are subject to deletion, alteration, or transfer.

                        NOTWITHSTANDING ANY VALUE ATTRIBUTED TO SUCH DATA BY YOU OR ANY THIRD PARTY, YOU UNDERSTAND AND AGREE THAT ANY DATA, ACCOUNT HISTORY, AND ACCOUNT CONTENT RESIDING ON bestNotebooks’S SERVERS, MAY BE DELETED, ALTERED, MOVED, OR TRANSFERRED AT ANY TIME FOR ANY REASON IN bestNotebooks’S SOLE DISCRETION, WITH OR WITHOUT NOTICE AND WITH NO LIABILITY OF ANY KIND. bestNotebooks DOES NOT PROVIDE OR GUARANTEE, AND EXPRESSLY DISCLAIMS, ANY VALUE, CASH OR OTHERWISE, ATTRIBUTED TO ANY DATA RESIDING ON bestNotebooks’S SERVERS.
                    </p>
                    <br>
                    <br>
                    <p>
                        User Content relating to legal issues and any other legal information appearing on the Service is not intended to be legal advice, nor is it intended to form an attorney-client relationship. If you believe that you have a legal claim, contact an attorney licensed in your state (or country) immediately to discuss your options. Most state bar associations have services to aid you in finding an attorney. For example, California residents should visit http://www.calbar.ca.gov/Public/Pamphlets/HiringaLawyer.aspx. The Service is provided for informational purposes only, with no assurance that the any content found on the Service is true, correct, or accurate. No action should be taken, delayed, or deferred based on the anything found on the Service. The Service is not a substitute for professional legal advice or a solicitation to offer legal advice regarding specific facts. Should you ignore this warning and send specific or confidential information in a private message or post it as a comment, there is no duty to keep that information confidential or to discontinue or forego any representation adverse to your interests. You should not delay or forego seeking legal advice or disregard professional legal advice based on anything found on the Service. Delay in seeking such legal advice could result in waiver of any claims you may have, depending on the applicable statute(s) of limitations. The Service is not regulated by any state or national bar association. Information posted to bestNotebooks publicly or sent in an unsolicited message to a User is not confidential and does not establish attorney-client relationship without the express consent of the User.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block SUPPORT %}

{% endblock %}

{% block TESTIMONIAL %}

{% endblock %}

{% block BLOG %}
{% endblock %}

{% block CLIENTBRAND %}
{% endblock %}